/* #FFFFFF - белый
  #F2F2F2 - серый
  #FFCCFF - розовый
  #9868CE - сиреневый
  #9C339A - малиновый
  #66029A - фиолетовый
  #291839 - кнопки
  #A575B5 - текст кнопок
  #626262 - т. серый
*/
body{
    background-image:url('/pic/1.jpg');
  /*[pre lang=css]*/
  font-family: Georgia, Verdana, sans-serif;
 
}
a{ font-size: 16px; color: #66029A;  }
h1{color:#626262;}
div{
  margin:3px;
  padding:0;
  /*color: #66029A;*/
  font-size: 16px;
}
p{
  font-size: 16px;
}
p.right{
  text-align: right;
}
p.kennel{
    text-align: center;
    
}
*[title] {
color: maroon;
}
/**{
margin:3px;
padding:0;
text-align: center;
font-size: 16px;    
/*color: #333;
}

body {сначала опишите стиль страницы в целом}
div {потом её отдельных частей - блоков}
a {затем ссылок}
h1.-.h6 {далее заголовков}
p {и в конце параграфов}*/
 
.wrapper{
  width: 1650px;  /*960*/
  margin: 18px auto;
  height: auto;
/*background: #fff;*/
}
 
.header{
    height:80px;
    width: 1600px;
    padding: 5px;
    /*background: #3BBCF2;*/
    clear: both;
    border: 1px groove #9868CE;
    padding: 3px;
    text-align: left;
}
.leftimg {
              float:left; /* Выравнивание по левому краю */
              margin: 3px 3px 3px 0; /* Отступы вокруг картинки */
          }
.navigation{
    width: 1000px;
    height: 20px;
}
 
.left_sidebar{
    width: 200px;
    height: auto;
    float: left;
    background: #FAFABF;
    padding: 3px;
    border: 1px groove #9868CE;
}
.left_sidebar{
    width: 200px;
    height: auto;
    float: left;
    background: #FAFABF;
    padding: 3px;
    border: 1px groove #9868CE;
}
 
.content{
    width: 1175px;  /*520*/
    height: auto;
    float: left;
    background: #E0E0E0;
    border: 1px groove #9868CE;
    padding: 3px;
            
}
div.title_cont{
  background: #E0E0E0;
  height:  10px;
}
.content_mum{
    float: left; width: 50%;
            
}
.content_dad{
    float: right; width: 48%
            
}
 
.right_sidebar{
    width: 200px;
    height: 800px;
    float: left;
   /*background: #DBA0F0;*/
    padding: 3px;
    border: 1px groove #9868CE;
}
 
.footer{
  clear: both;
  background: #A9B4FF;
  padding: 20px;
  border: 1px groove #9868CE;

}

@font-face {
font-family: 'Scriptorama';
src: url('/fonts/s/Scriptorama.ttf');
}
.text_effect {
font-family: 'Scriptorama';
/*color: rgb(255, 145, 145);*/
font-size: 48px;
/*text-shadow: rgb(3, 3, 3) -1px 4px 4px;*/
}
.autoriz{ 
  font-size: 25px;
  color: blue;
  display: flex;
  align-items: center;
  justify-content: center;

  /*text-align: center;  выровнять текст и картинки по горизонтали */
  
}
.image_wrap{
  width: 50%;
  height: 400px;
  border: 5px solid #66029A;
  border-radius: 10px;
  width: 500px;
  margin-right: auto; /*рамка в середине*/
  margin-left: auto; /* отступы по бокам*/
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
} 

.def_pic{
   display: black;
   margin: auto;
}


#name{
  font-size: 20px;
  font-weight:600;
}
#my_text{
  color:black;
  padding: 15px;
  margin: 15px;
  margin-bottom: 16px;
  border: 7px solid blue;
  border-radius: 10px;
}
/*/////////////////////////////////*/
 /*display: inline-block;
  width: 200px;
  padding: 8px;
  color: #fff;
  border: 1px solid #fff;
  text-align: center;
  outline: none;
  text-decoration: none;*/

.knopka {
  width: 150px;
  height: 50px;
  text-decoration: none;
  color: #a675b3;
  text-align: center;
  line-height: 20px;
  display: block;
  margin: 20px auto;
  border: 3px solid #311d47;
  font: normal 17px arial;
  outline: none;

}

.knopka:not(.active) {
  box-shadow: inset 0 1px 1px rgba(111, 55, 125, 0.8), inset 0 -1px 0px rgba(63, 59, 113, 0.2), 0 9px 16px 0 rgba(0, 0, 0, 0.3), 0 4px 3px 0 rgba(0, 0, 0, 0.3), 0 0 0 1px #150a1e;
  background-image: linear-gradient(#3b2751, #271739);
  text-shadow: 0 0 21px rgba(223, 206, 228, 0.5), 0 -1px 0 #311d47;
  outline: none;
}

.knopka:not(.active):hover,
.knopka:not(.active):focus {
  transition: color 200ms linear, text-shadow 500ms linear;
  color: #fff;
  text-shadow: 0 0 21px rgba(223, 206, 228, 0.5), 0 0 10px rgba(223, 206, 228, 0.4), 0 0 2px #2a153c;
  outline: none;
}
.knopka:not(:hover) {
    transition: 0.6s;
    outline: none;
}


a.buttons {
  width: 150px;
  height: 40px;
  text-decoration: none;
  padding-top: 10px;
  color: #a675b3;
  text-align: center;
  line-height: 20px;
  display: block;
  margin: 20px auto;
  font: normal 17px arial;
}

a.buttons:not(.active) {
  box-shadow: inset 0 1px 1px rgba(111, 55, 125, 0.8), inset 0 -1px 0px rgba(63, 59, 113, 0.2), 0 9px 16px 0 rgba(0, 0, 0, 0.3), 0 4px 3px 0 rgba(0, 0, 0, 0.3), 0 0 0 1px #150a1e;
  background-image: linear-gradient(#3b2751, #271739);
  text-shadow: 0 0 21px rgba(223, 206, 228, 0.5), 0 -1px 0 #311d47;
}

a.buttons:not(.active):hover,
a.buttons:not(.active):focus {
  transition: color 200ms linear, text-shadow 500ms linear;
  color: #fff;
  text-shadow: 0 0 21px rgba(223, 206, 228, 0.5), 0 0 10px rgba(223, 206, 228, 0.4), 0 0 2px #2a153c;
}
a.buttons:not(:hover) {
    transition: 0.6s;
}


/****************************Внешний вид меню****************/
.side {
  width: 150px; /*ширина кнопки*/
  margin: 25px; /* отступ по бокам*/
  position: inherit; /*Наследует значение родителя.*/
}

.menu a{
  background-image: linear-gradient(#3b2751, #271739);
  color:#FFCCFF;
  padding: 10px;
  display: block;
  border-bottom: 1px solid #666; /*каждая кнопка в серой рамке*/
  transition: 0.5s all; /*плавность*/

}
/*что будет при наведении*/
.menu a:hover{
  background: #666; /*цвет серый*/
  padding: 10px 0 10px 20px; /*пункты будут плавать / сдвигается текст вправо*/

}
/*для всех тегов Ли первый ребенок(Пункт 1)*/
.menu li:first-child a{
  border-radius: 3px 3px 0 0;
}

/*а радиус у подменю убираем*/
.menu li .menu__drop li a{
  border-radius: 0;
}
/****************************Всплывающие меню****************/
.menu__list{
  position: relative; /*чтобы подменю. прилепелны к меню*/

}
.menu__drop{
  position: absolute;
  width: 100%; /*ширина кнопок подменю*/
  left:100%;  /*отступ влево 100% от основного*/
  /*появляется на уровне пункт 1 top:0;*/
  /*мы уводим меню за пределы экрана вверх*/
  top:-9999em;
  opacity: 0;
  transition: 0.5s opacity; /*плавность*/
}

/*при наведении на лист, наш класс будет меняться*/
.menu__list:hover .menu__drop{
  opacity: 1; /*при наведении на пункт 1 включается видимость подпунктов*/
  top:0; /*меняем положение на 0*/
}

/*иконки для всплывающих менюшек >*/
.menu__list::after{
  content: " ";   /*пустое поле*/
  position: absolute;
  border: 5px solid;  /* рамка в 10 */
  border-color: transparent transparent transparent #fff; /*закрашивает все углы*/
  top:1em; /*переместидись */
  right: 0.7em; /*вправо */
  transition: 0.5s; /*анимация*/
}
/*при наведении треугольнички переворачиваются*/
.menu__list:hover::after{
  transform: scale(-1);
}

/*************************************данные lit&pup.php***********************/
.dog{
   position:relative;
    height:5px;
  
}

#mydog{
  text-align: center;
    float:left;
    width:99%;
    height:200px;
    background: #9868CE;
}
.dad_mum{
  position:relative;
  height:200px;
}
#dad{
  text-align: center;
float:left;
width:49%;
height:200px;
background:green;
}

#mum{
  text-align: center;
float:left;
width:49%;
height:200px;
background:blue;
}
.GG_dad_mum{
  position:relative;
  height:200px;
}
#one{
  text-align: center;
float:left;
width:24%;
height:200px;
background:green;
}

#two{
  text-align: center;
float:left;
width:24%;
height:200px;
background:blue;
}

#three{
  text-align: center;
float:left;
width:24%;
height:200px;
background:#9C339A;
}

#four{
  text-align: center;
float:left;
width:24%;
height:200px;
background:olive;
}

#left_breed{
  position:absolute;
left:0;
width:500px;
}

#right_breed{
  position:absolute;
left:500px;
width:200px;
}
#all_breed{
  width:1200px;
  position:relative;
  background: white;
  

} 

/************************ прогресс бар ********************/
.meter {
height: 10px;  /* Can be anything */
width: 150px;
position: relative;
background: #291839;
-moz-border-radius: 25px;
-webkit-border-radius: 25px;
border-radius: 25px;
padding: 10px;
-webkit-box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
-moz-box-shadow   : inset 0 -1px 1px rgba(255,255,255,0.3);
box-shadow        : inset 0 -1px 1px rgba(255,255,255,0.3);

}
.meter > span {
        display: block;
        height: 100%;
           -webkit-border-top-right-radius: 8px;
        -webkit-border-bottom-right-radius: 8px;
               -moz-border-radius-topright: 8px;
            -moz-border-radius-bottomright: 8px;
                   border-top-right-radius: 8px;
                border-bottom-right-radius: 8px;
            -webkit-border-top-left-radius: 20px;
         -webkit-border-bottom-left-radius: 20px;
                -moz-border-radius-topleft: 20px;
             -moz-border-radius-bottomleft: 20px;
                    border-top-left-radius: 20px;
                 border-bottom-left-radius: 20px;
        background-color: rgb(165,117,181);
        background-image: -webkit-gradient(
          linear,
          left bottom,
          left top,
          color-stop(0, rgb(165,117,181)),
          color-stop(1, rgb(165,117,181)) 
         );
        background-image: -moz-linear-gradient(
          center bottom,
          rgb(43,194,83) 37%,
          rgb(84,240,84) 69%
         );
        -webkit-box-shadow:
          inset 0 2px 9px  rgba(255,255,255,0.3),
          inset 0 -2px 6px rgba(0,0,0,0.4);
        -moz-box-shadow:
          inset 0 2px 9px  rgba(255,255,255,0.3),
          inset 0 -2px 6px rgba(0,0,0,0.4);
        position: relative;
        overflow: hidden;
}
Другие цвета

/*****Давайте очень просто поменяем цвет. Просто добавьте класс с именем «orange» или «red» к оболочке div/****’а и цвет будет изменен.****/

.orange > span {
        background-color: #f1a165;
        background-image: -moz-linear-gradient(top, #f1a165, #f36d0a);
        background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #f1a165),color-stop(1, #f36d0a));
        background-image: -webkit-linear-gradient(#f1a165, #f36d0a);
}

.red > span {
        background-color: #f0a3a3;
        background-image: -moz-linear-gradient(top, #f0a3a3, #f42323);
        background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #f0a3a3),color-stop(1, #f42323));
        background-image: -webkit-linear-gradient(#f0a3a3, #f42323);
}


