/* #FFFFFF - белый
  #F2F2F2 - серый
  #FFCCFF - розовый
  #9868CE - сиреневый
  #9C339A - малиновый
  #66029A - фиолетовый
*/
body{
	background-image:url('/pic/1.jpg');
  /*[pre lang=css]*/
  font-family: Georgia, Verdana, sans-serif;
 
}
h1{color:#626262;}
.img {
    border: 3px solid #00a8e1;
   }

a{ font-size: 16px; color: #66029A; }

#container {

                
            margin: 25px auto;
            width: 900px;
            height: auto;
            background-color: blue;

}
 
#header {
            
            height:150px;
            width: 1100px;
            border: 1px groove #9868CE;
            padding: 3px;
}
 
#navigation {
            
            width: 1100px;
            height: 20px;
            


}
 
#menu {
            
            float: left;
            width: 200px;
            height: 1000px;
            border: 1px groove #9868CE;
            padding: 3px;
}
#menu_r {
  color: yellow;
    /* border: 4px double black; /* Параметры границы */
    /*  background: #fc3; /* Цвет фона */
     /* padding: 10px; /* Поля вокруг текста */
    

}
#content {
            
            float: right;
            margin:auto;
            width: 700px;
            height: auto;
            border: 1px groove #9868CE;
            padding: 3px;

}
 
#clear {
            clear:both;
}
 
#footer {
            
            height: 50px;
            width: 950px;
            border: 1px groove #9868CE;
            padding: 3px;
}






@font-face {
font-family: 'Scriptorama';
src: url('/fonts/s/Scriptorama.ttf');
}
.text_effect {
font-family: 'Scriptorama';
/*color: rgb(255, 145, 145);*/
font-size: 48px;
/*text-shadow: rgb(3, 3, 3) -1px 4px 4px;*/
}
.autoriz{ 
  font-size: 25px;
  color: blue;
  display: flex;
  align-items: center;
  justify-content: center;

  /*text-align: center;  выровнять текст и картинки по горизонтали */
  
}
.image_wrap{
  width: 50%;
  height: 400px;
  border: 5px solid black;
  border-radius: 10px;
  width: 500px;
  margin-right: auto; /*рамка в середине*/
  margin-left: auto; /* отступы по бокам*/
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
} 
.def_pic{
   display: black;
   margin: auto;
}


#name{
	font-size: 20px;
	font-weight:600;
}
#my_text{
	color:black;
	padding: 15px;
	margin: 15px;
	margin-bottom: 16px;
	border: 7px solid blue;
	border-radius: 10px;
}

   /*кнопка 6*/
.knopka1 {
  border-radius: 20px;
  color: #CEA640;
  background: #FFF79A;
  border-bottom: 10px solid #E1B442;
  box-shadow: 6px 6px 6px rgba(0,0,0,0.3);
}

/*общие стили для всех кнопок*/
.knopka {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 15px 25px;
  padding: 10px 10px;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  transition: 0.4s ease-in-out;
}
.knopka1:hover {
  box-shadow: 0 2px 4px rgba(0,0,0,0.3);
  text-shadow: 0 2px 0 rgba(0,0,0,0.3);
}
.kennel{
  font-size: 20px;
  font-weight: bold;
}
.crop{
  float:left;
  position:relative;
  width:200px;
  height:120px;
  border:1px solid #ccc;
  margin:.5em 10px .5em 0;
  }
.crop img{
  margin:0;
  position:absolute;
  top:-40px;
  left:-50px;
  clip:rect(40px 250px 160px 50px);
  }
